@import "../../../sass/base.scss";

.footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  height: $height-footer;
  width: 100%;
  margin-top: 1rem;
  background-color: $color-primary-dark;
  @include respond(phone) {
    height: $height-footer-mobile;
  }
}

.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: $color-font-light;
  background-color: $color-primary;
  padding: 0 5rem;
  padding-top: 1rem;

  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  &__email,
  &__phone {
    text-align: center;
    h3 {
      margin: 5px 0;
    }
    p {
      color: $color-font-light;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }
}

.social {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond(phone) {
    flex-direction: column;
  }

  &__author {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $color-font-light;

    &--dark {
      color: $color-secondary-light;
      font-weight: 500;
    }
  }

  &__icons {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      text-decoration: none;
      color: inherit;

      &:not(:first-child) {
        margin-left: 3rem;
      }
    }

    i {
      font-size: 20px;
      border: 1.5px solid $color-secondary-light;
      color: $color-secondary-light;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: $color-primary-dark;
        color: $color-secondary;
        border: 1.5px solid $color-secondary;
      }
    }
  }
}
