<div class="footer">
  <div class="contacts">
    <div class="contacts__email">
      <div><mat-icon>email</mat-icon></div>
      <h3>Email</h3>
      <p>melkhalfaoui[at]gmail[point]com</p>
    </div>
    <div class="contacts__phone">
      <div><mat-icon>phone</mat-icon></div>
      <h3>Téléphone</h3>
      <p>06 51 05 51 39</p>
    </div>
  </div>
  <div class="social container">
    <div class="social__author">
      <p>
        Mustapha EL KHALFAOUI &nbsp;<span class="social__author--dark"
          >&copy; 2020</span
        >
      </p>
    </div>
    <div class="social__icons">
      <a href="https://www.linkedin.com/in/mustapha-el-khalfaoui-79693718a/"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a href="https://gitlab.com/mustapha_el_khalfaoui"
        ><i class="fab fa-gitlab"></i
      ></a>
    </div>
  </div>
</div>
