// BASE COLORS
$color-primary: #212121;
$color-primary-light: #484848;
$color-primary-dark: #000000;

$color-secondary: #546e7a;
$color-secondary-light: #819ca9;
$color-secondary-dark: #29434e;

// BLACK COLORS
$color-black: #000000;

// LIGHT COLORS
$color-white: #fafafa;
$color-light: #f4f4f4;

// GREY COLORS
$color-grey: #757575;
$color-grey-light: #e0e0e0;
$color-grey-dark: #333;

// FONT COLORS
$color-font-light: #ffff;
$color-font-dark: #000000;
