@import "../../../sass/base.scss";

.project {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    height: 14%;
  }

  &__image {
    height: 60%;
  }

  &__content {
    flex: 1;
  }

  &__actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    a,
    button {
      margin: 5px;
    }

    @include respond(phone) {
    }
  }
}
