<mat-card class="project">
  <mat-card-header class="project__header">
    <mat-card-title>{{ project.title }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    [src]="project.image"
    alt="Project image"
    class="project__image"
  />
  <mat-card-content class="project__content"> </mat-card-content>
  <mat-card-actions class="project__actions">
    <a mat-icon-button color="primary" [href]="project.link"
      ><mat-icon>web</mat-icon></a
    >
    <button mat-icon-button color="primary" (click)="openDialog()">
      <mat-icon>article</mat-icon>
    </button>
    <a
      mat-icon-button
      color="primary"
      *ngIf="project.gitlab.code"
      [href]="project.gitlab.code"
      ><mat-icon>code</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
<br>
