<div class="about">
  <div class="container">
    <h1 class="headline">A propos</h1>
    <div class="divider"></div>
    <h3 class="subheadline">Qui je suis ?</h3>
    <div class="bio">
      <div class="bio__picture"></div>
      <div class="bio__story">
        <p>
          J’ai passé les dix dernières années à gérer l’activité Web de sites e-commerce (WebMarketing, WebAnalytics, Traffic Management).
        </p>
        <p>
          J’ai acquis la capacité à évaluer les enjeux d’applications Web par le biais de divers projets de développement. Soucieux de compléter mon profil j’ai récemment avec mes formations en développement une nouvelle approche orientée technique et métier.
        </p>
        <p>
          Je souhaite désormais étendre mon expérience et mon savoir-faire au service d’un acteur partageant mes valeurs.
        </p>
        <p>
          “travail d’équipe, écoute, curiosité”
        </p>
      </div>
    </div>
  </div>
  <div class="skills">
    <div class="container">
      <h2 class="headline">Compétences</h2>
      <div class="divider"></div>
      <app-skills *ngFor="let skill of skills" [skill]="skill"></app-skills>
    </div>
  </div>

  <div class="container courses">
    <div class="divider"></div>
    <h2 class="headline">Certifications Sololearn</h2>
    <div class="courses__items">
      <app-courses
        *ngFor="let course of coursesSololearn"
        [course]="course"
      ></app-courses>
    </div>
    <h2 class="headline">Certifications Google</h2>
    <div class="courses__items">
      <app-courses
      *ngFor="let course of coursesGoogle"
      [course]="course"
    ></app-courses>
    </div>
  </div>
</div>
