<mat-card class="course">
  <mat-card-header>
    <div
      mat-card-avatar
      [ngStyle]="{
        'background-image': 'url(' + course.imgUrl + ')',
        'background-size': 'cover',
        'background-possition': 'center'
      }"
    ></div>
  </mat-card-header>
  <mat-card-content style="padding-top: 10px; flex: 1;">
    <p>
      {{ course.title }}
    </p>
  </mat-card-content>
  <mat-card-actions style="display: flex; justify-content: flex-end;">
    <a *ngIf="course.certificate" [href]="course.certificate"
      ><i class="fas fa-certificate"></i
    ></a>
    <a *ngIf="course.gitlab" [href]="course.gitlab"
      ><i class="fab fa-gitlab"></i
    ></a>
    <a *ngIf="course.url" [href]="course.url"><i class="fas fa-link"></i></a>
  </mat-card-actions>
</mat-card>
