<div class="card">
  <div class="card__side card__side--front">
    <div class="card__front-content">
      <i class="{{ info.frontIcon }} card__icon"></i>
      <h1 class="card__headline">{{ info.frontText }}</h1>
    </div>
    <i class="fas fa-share turn-around"></i>
  </div>
  <div class="card__side card__side--back">
    <div class="card__back-content">
      <p class="card__paragraph">{{ info.rearText }}</p>
    </div>
  </div>
</div>
