@import "../../sass/base.scss";

.work {
  width: 100%;
  margin-top: calc(#{$height-header} + 4rem);
  margin-bottom: calc(#{$height-footer} + 4rem);

  @include respond(phone) {
    margin-bottom: calc(#{$height-footer} + 15rem);
  }

  &__items {
    margin: 3rem auto 0 auto;
    //display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-auto-rows: 350px;
    grid-column-gap: calc((100% - (4 * 22%)) / 3);
    grid-row-gap: 4rem;

    @include respond(phone) {
      grid-template-columns: 100%;
    }
  }
}
