<div class="work">
  <div class="container">
    <h1 class="headline">Réalisations</h1>
    <div class="divider"></div>
    <div class="work__items">
      <app-project
        *ngFor="let project of projects"
        [project]="project"
      ></app-project>
    </div>
    <video width="250" height="400" controls>
      <source src="assets/video/demoGestibank.mp4" type="video/mp4">
      Your browser does not support the video tag.
  </video>
  </div>
</div>
