<div class="header">
  <div class="header__container">
    <div class="header__logo">
      <a [routerLink]="['/']"><img src="assets/img/logo.png" alt="logo" /></a>
    </div>
    <ul class="header__routes">
      <li><a [routerLink]="['/about']" routerLinkActive="active">A propos</a></li>
      <li><a [routerLink]="['/work']" routerLinkActive="active">Realisations</a></li>
      <li>
        <a [routerLink]="['/resume']" routerLinkActive="active">Parcours</a>
      </li>
    </ul>
  </div>
  <div class="header__navigation-mobile">
    <button mat-mini-fab color="primary" (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</div>
