<div class="showcase">
  <h1 class="headline">A propos</h1>
  <div class="divider"></div>
  <h3 class="subheadline">
    <p>10 ans d'expérience dans le WebMarketing tant en agence que chez l'annonceur.</p>
     <p>Je suis actuellement en reconversion professionnelle  pour devenir développeur informatique.</p>
  </h3>
  <div class="showcase__items">
    <!--
    <app-showcase-item
      *ngFor="let info of aboutInfo"
      [info]="info"
    ></app-showcase-item>
    -->
  </div>
</div>
