<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-drawer (closeSidenav)="sidenav.close()"></app-drawer>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <footer class="footer"><app-footer></app-footer></footer>
  </mat-sidenav-content>
</mat-sidenav-container>
