<div class="landing">
  <div class="landing__content">
    <h1 class="landing__headline">Mustapha EL KHALFAOUI</h1>
    <div class="landing__divider"></div>
    <h2 class="landing__subheadline">Developeur FullStack</h2>
  </div>
</div>
<div class="container">
  <app-showcase></app-showcase>
</div>
