<div class="resume">
  <div class="container">
    <h1 class="headline">Parcours</h1>
    <div class="divider"></div>
    <h2 class="subheadline">Formations Développement</h2>
    <div class="resume__education" *ngFor="let for of formation; let i = index">
      <h3>{{ for.titre }}</h3>
      <h4>{{ for.organisme.name }}</h4>
      <ul class="resume__sites" id="sites">Projet de formation :
        <li *ngFor="let pro of for.projets"> <a [href]="pro.url">{{ pro.name }}</a></li>
      </ul>
    </div>

    <h2 class="subheadline">Expériences professionnelles</h2>
    <div class="resume__experience" *ngFor="let exp of experience">
      <h3 class="resume__title">
        <table>
          <tr>
            <td>
              <a [href]="exp.company.url">{{ exp.company.name }}</a> -
              {{ exp.position }}
            </td>
            <td><mat-icon>location_on</mat-icon> {{ exp.company.location }}</td>
          </tr>
        </table>
      </h3>
      <mat-divider></mat-divider>
      <p class="resume__date">{{ exp.date }}</p>
      <p class="resume__description">{{ exp.company.description }}</p>

      <ul class="resume__tasks">
        <li *ngFor="let task of exp.tasks">{{ task }}</li>
      </ul>

      <ul class="resume__sites" id="sites">Sites :
        <li *ngFor="let site of exp.sites"> <a [href]="site.url">{{ site.name }}</a></li>
      </ul>
    </div>

    <h2 class="subheadline">Etudes</h2>
    <div class="resume__education" *ngFor="let edu of education; let i = index">
      <h3>{{ edu.degree }}</h3>
      <h4>{{ edu.school.name }}</h4>
    </div>
  </div>
</div>
